:root {
    --background-color: #20272f;
    --background-accent: #171c22;
    --text-color: #f6f6f9;
    --text-spotlight: #00BFFF;
    --selected-text: #ecedf2;
    --unselected-text: #6d6d6d;
    --outlines: #3c4753;
    --standout: #ff0000;
}

@font-face { font-family: 'russo'; src: url('assets/russo.ttf') format('truetype'); }

body {
    font-family: "russo";
    background: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    font-size: 14px;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;   left: 0;
    width: 100%;   height: 10vh;
    padding: 0% 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--background-color);
    box-shadow: none;
    transition: box-shadow 1s ease, height 0.3s ease;
}

.navText{font-size: 18px;}
.navLink{font-size: 18px; text-decoration: none; color: var(--text-color); background: none; cursor: pointer;}
.navLink:active,.navLink:focus,.navLink:hover {color: var(--text-spotlight);}

.section1div{
    flex: 1 1 50%;
    height: 100%;

    display: flex; /* Add flex to center the content */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    white-space: normal;
}

@media (max-width: 600px) {
    .section1div{
        flex: 1 1 100%;
        height: 50%
    }




    .navText{font-size: 14px;}
    .navLink{font-size: 14px;}
}